.plutus-hidden {
	display: none !important;
}

.menu-item:not( .menu-item-depth-0 ) .plutus-mega-edit-wrap {
	display: none !important;
}

#plutus-metabox-single .inside {
	display: block !important;
	padding: 0;
	margin: 0 !important;
	background: #fff;
}

.plutus-metabox-wrap {
	position: relative;
	width: 100%;
}

.plutus-metabox-wrap:after,
.plutus-metabox-wrap:before {
	content: '';
	clear: both;
	width: 100%;
	display: block;
}

.plutus-metabox-tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 180px;
	position: relative;
	float: left;
	z-index: 2;
	display: block;
}

.plutus-metabox-tabs li {
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	zoom: 1;
	-webkit-transition: all 250ms cubic-bezier(.39, .575, .565, 1);
	transition: all 250ms cubic-bezier(.39, .575, .565, 1);
	filter: alpha(opacity=100);
	opacity: 1;
	height: 41px;
}

.plutus-metabox-tabs li.tab-active {
	margin-right: -1px;
}

.plutus-metabox-tabs li a {
	background: #f5f5f5;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 10px;
	line-height: 40px;
	color: #666;
	outline: 0;
	box-shadow: none;
}

.plutus-metabox-tabs li a i {
	display: inline-block;
	line-height: 41px;
	margin-right: 10px;
	font-size: 15px;
	color: #4d4d4d;
}

.plutus-metabox-tabs li.tab-active a {
	background: #fff;
	font-weight: 700;
	color: #4d4d4d;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .02);
}

.plutus-metabox-fields .plutus-tab-panel:not( :first-child ) {
	display: none;
}

.plutus-metabox-tabs + .plutus-metabox-fields {
	background: #fff;
	float: left;
	width: calc(100% - 190px);
	border-left: 1px solid #e5e5e5;
	position: relative;
	z-index: 1;
	min-height: 200px;
	box-sizing: border-box;
	display: block;
	padding: 10px 15px;
}

.plutus-metabox-fields .plutus-metabox-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.plutus-metabox-fields .plutus-metabox-row:not( :last-child ) {
}

.plutus-metabox-row {
	position: relative;
	clear: both;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.plutus-metabox-fields .plutus-mb-labeldesc {
	width: 200px;

}

.plutus-metabox-fields .plutus-mb-labeldesc + div {
	flex: 1;
	margin-left: 20px;
}

.plutus-metabox-fields .plutus-metabox-desc {
	color: #666;
	font-style: italic;
	display: block;
	font-size: 13px;
	line-height: 1.5;
	margin: 10px 0 1em;
}

.plutus-metabox-fields .plutus-mb-input {
	width: 100%;
}

.plutus-metabox-fields label {
	color: #333333;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 3px;
	display: block;
	vertical-align: text-bottom;
}

.plutus-metabox-fields img {
	max-width: 100%;
	display: block;
}

.plutus-image-select-wrap {
	overflow: hidden;
}

.plutus-metabox-fields label.plutus-image-select {
	display: inline-block;
	width: 80px;
	height: 80px;
	float: left;
	margin: 0 10px 10px 0;
	border: 3px solid #d8d8d8;
	border-radius: 0;
	padding: 1px;
}

.plutus-metabox-fields label.plutus-image-select img {
	width: 100%;
	height: 100%;
}

.plutus-metabox-fields label.plutus-image-select:hover,
.plutus-metabox-fields label.plutus-image-select.plutus-active {
	border-color: #0085ba
}

.plutus-metabox-fields label.plutus-image-select input {
	display: none !important;
}

#plutus_single_single_style label.plutus-image-select {
	width: 100px;
	height: 73px;
}

#plutus_cat_pstyle label.plutus-image-select {
	width: 45px;
	height: 36px;
	border-width: 2px;
}

#plutus_arch_sidebar_layout label.plutus-image-select,
#plutus_page_sidebar_layout label.plutus-image-select,
#plutus_single_sidebar_layout label.plutus-image-select {
	width: 60px;
	height: 44px;
	border-width: 2px;
}

.plutus-metabox-fields .plutus-widget-images .plutus-images-list {
	margin: 0;
	padding: 0;
}

.plutus-metabox-fields .plutus-images-list::after,
.plutus-metabox-fields .plutus-images-list::before {
	content: ' ';
	display: table;
}

.plutus-metabox-fields .plutus-images-list li {
	width: 100px;
	float: left;
	cursor: move;
	border: 1px solid #d5d5d5;
	margin: 9px 9px 0 0;
	background: #f7f7f7;
	position: relative;
	box-sizing: border-box;
}

.plutus-metabox-fields .plutus-images-list .actions {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
	display: none;
}

.plutus-metabox-fields .plutus-images-list .remove-image {
	text-decoration: none;
	background: #fff;
	color: red;
	width: 18px;
	height: 18px;
	display: block;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	font-size: 6px;
}

.plutus-metabox-fields .plutus-images-list li:hover .actions{
	display: block;
}

.plutus-metabox-fields .plutus-images-list .remove-image .dashicons,
.plutus-metabox-fields .plutus-images-list .remove-image .dashicons-before:before {
	width: 18px;
	height: 18px;
	font-size: 18px;
}

.plutus-metabox-fields .plutus-widget-images .plutus-add-images {
	clear: both;
	display: inline-block;
	float: left;
	margin-top: 10px;
}

.plutus-metabox-fields input[type="text"],
.plutus-metabox-fields textarea {
	width: 100%;
}

.plutus-metabox-fields textarea {
	min-height: 150px;
}

.plutus-metabox-fields select,
.plutus-metabox-fields input[type="number"] {
	min-width: 100px;
}

.plutus-metabox-fields .mceIframeContainer {
	background: #fff;
}

.plutus-metabox-fields .media-widget-control {
	max-width: 300px;
}

.plutus-metabox-fields .media-widget-control.plutus-widget-images {
	max-width: 100%;
}

.media-widget-control .placeholder.hidden {
	height: 1px;
	display: block;
	width: 100%;
	opacity: 0;
	padding: 0;
	margin: 0;
}

.plutus-metabox-fields .media-widget-control button {
	margin-top: 10px;
	margin-right: 15px;
}

/* Style the buttons that are used to open and close the accordion panel */
.plutus-accordion-name {
	position: relative;
	height: 40px;
	padding: 0 55px 0 15px;
	line-height: 40px;
	border: 1px solid #E2DDDB;
	font-weight: bold;
	background-color: #F5F5F5;
	margin-top: 10px;
	cursor: pointer;
}

.plutus-accordion-name h3 {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.plutus-accordion-name .handle-repeater {
	float: right;
	height: 40px;
	width: 40px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	right: -1px;
	top: -1px;
	font-size: 20px;
	line-height: 36px;
	border: 1px solid #E2DDDB;
}

.plutus-accordion-name .handle-repeater:before {
	content: '\002B';
}

.plutus-accordion-name.active .handle-repeater:before {
	content: "\2212";
}

.plutus-panel-accordion {
	display: none;
	overflow: hidden;
	height: 0;
	transition: max-height 0.2s ease-out;
	padding: 15px 17px 13px;
	position: relative;
	border: 1px solid #E2DDDB;
	border-top: 0;
	margin-bottom: 10px;
}

.plutus-accordion-name.active + .plutus-panel-accordion {
	display: block;
	height: auto;
}

.plutus-col-1, .plutus-col-2, .plutus-col-3, .plutus-col-4,
.plutus-col-5, .plutus-col-6, .plutus-col-7, .plutus-col-8,
.plutus-col-9, .plutus-col-10, .plutus-col-11, .plutus-col-12 {
	position: relative;
	padding-right: 10px;
	clear: none;
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
}

@media (min-width: 992px) {
	.plutus-col-1, .plutus-col-2, .plutus-col-3, .plutus-col-4,
	.plutus-col-5, .plutus-col-6, .plutus-col-7, .plutus-col-8,
	.plutus-col-9, .plutus-col-10, .plutus-col-11, .plutus-col-12 {
		float: left;
		margin-bottom: 0;
	}

	.plutus-col-12 {
		width: 100%;
	}

	.plutus-col-11 {
		width: 91.66666667%;
	}

	.plutus-col-10 {
		width: 83.33333333%;
	}

	.plutus-col-9 {
		width: 75%;
	}

	.plutus-col-8 {
		width: 66.66666667%;
	}

	.plutus-col-7 {
		width: 58.33333333%;
	}

	.plutus-col-6 {
		width: 50%;
	}

	.plutus-col-5 {
		width: 41.66666667%;
	}

	.plutus-col-4 {
		width: 33.33333333%;
	}

	.plutus-col-3 {
		width: 25%;
	}

	.plutus-col-2 {
		width: 16.66666667%;
	}

	.plutus-col-1 {
		width: 8.33333333%;
	}

	.plutus-col-6:nth-child( 2n + 1 ) {
		clear: both;
	}
}

/** Taxomomy **/
.plutus-tax-meta-fields {
	overflow: hidden;
}

#poststuff.plutus-tax-meta-fields {
	min-width: 0;
}

#col-left #poststuff.plutus-tax-meta-fields {
	max-width: 95%;
}

#poststuff.plutus-tax-meta-fields .plutus-metabox-tabs {
	width: 130px;
}

#poststuff.plutus-tax-meta-fields .plutus-metabox-tabs + .plutus-metabox-fields {
	width: calc(100% - 130px);
}

#poststuff.plutus-tax-meta-fields .plutus-metabox-row {
	display: block;
}

#poststuff.plutus-tax-meta-fields .plutus-metabox-row .plutus-mb-labeldesc + div,
#poststuff.plutus-tax-meta-fields .plutus-metabox-row .plutus-mb-labeldesc {
	width: 100%;
	margin-left: 0;
}